.form {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}